@page "/create-movie"
@using Logic
@using Logic.Models
@inject NavigationManager NavigationManager;
@inject MovieLogic movieLogic

<h1>Create Movie</h1>

<body>
    <form>
        <div class="form-group">
            <label for="title">Títle</label>
            <input type="text" class="form-control" id="title" @bind="movie.Title" />
        </div>
        <div class="form-group">
            <label for="director">Director</label>
            <input type="text" class="form-control" id="director" @bind="movie.Director" />
        </div>
        <div class="form-group">
            <label for="releaseYear">Release Date</label>
            <input type="date" id="movie-releaseDate" name="movie-releaseDate" value="2024-01-01" />
        </div>
    </form>

    <button type="button" class="btn btn-primary" @onclick="OnSubmit">Save</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancel</button>

</body>


@code {
    private Movie movie;

    protected override void OnInitialized()
    {
        movie = new Movie("", "", DateTime.Now);
    }

    private void OnSubmit()
    {
        movieLogic.AddMovie(movie);
        NavigationManager.NavigateTo("/movies");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
