
@page "/login"
@using Logic
@using Logic.Models
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject SessionLogic SessionLogic

<h1>Login</h1>

<EditForm Model="@userLoginDTO" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="userLoginDTO.Email" class="form-control" />
        <ValidationMessage For="@(() => userLoginDTO.Email)" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="userLoginDTO.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => userLoginDTO.Password)" />
    </div>

    <button type="submit" class="btn btn-primary mt-4">Login</button>
</EditForm>

@code {
    private UserLoginDTO userLoginDTO;
    private UserDTO loggedUser;

    protected override void OnInitialized()
    {
        userLoginDTO = new UserLoginDTO("","");
    }

    private async Task HandleLogin()
    {
        SessionLogic.Login(userLoginDTO.Email, userLoginDTO.Password);
        loggedUser = UserDTO.FromEntity(SessionLogic.GetLoggedUser());
        NavigationManager.NavigateTo("/");
    }
}
