@page "/"
@using Logic
@using Logic.Models
@inject NavigationManager NavigationManager
@inject SessionLogic SessionLogic

<PageTitle>Index</PageTitle>

<h1>Home Page</h1>

@if (SessionLogic.GetLoggedUser() != null)
{
    <div>
        <h3 class="mt-4">Welcome @SessionLogic.GetLoggedUser().Name</h3>

        <div>
            <label>Email:</label>
            <label>@SessionLogic.GetLoggedUser().Email</label>
        </div>

        <div>
            <label>Role:</label>
            <label>@SessionLogic.GetLoggedUser().Role</label>
        </div>

    </div>
}
else
{
    <div>
        <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
            <button type="button" class="btn btn-primary">Login</button>
        </NavLink>
    </div>
}


@code {

    protected override void OnInitialized()
    {
        SessionLogic.GetLoggedUser();
    }
}